version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  microblog-app:
    build: .
    container_name: microblog-app
    ports:
      - 3000:3000
    environment:
      - MONGO_URI=mongodb://admin:admin123@mongodb:27017/microblog?authSource=admin
    depends_on:
      - mongodb

volumes:
  mongo_data:
